<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grace Herrmann</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='vendor/bootstrap/css/bootstrap.min.css' />
    <!-- Custom fonts for this template -->
    <link rel='stylesheet' href='vendor/fontawesome-free/css/all.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel='stylesheet' href='stylesheets/about.css' />

</head>

<body id="page-top" background-color="black">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Grace Herrmann</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/math">Math</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/musings">Musings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/social">Social Media Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1><a href="#projects" class="js-scroll-trigger">Anthropology <br> & <br> Mathematics</a></h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">I am in my third year at <b>Mount Holyoke College</b>
                    Pursuing bachelor's degrees in <b>Anthropology</b> and <b>Mathematics</b></h2>
                <a href="#projects" class="btn btn-primary js-scroll-trigger">Courses</a>
            </div>
        </div>
    </header>



    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div class="container">

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-4 col-lg-5">
                    <h1 class=" d-flex align-items-start flex-column mr-4">Relevant Curriculum
                    </h1>
                    <div class="mx-auto text-center d-flex align-items-start flex-column mt-3 mb-3"> 
                        <a href="/math"
                            class="btn btn-outline-primary js-scroll-trigger">Insights</a>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 ">
                    <div class="featured-text text-left text-lg-left cat ">
                        <h4 >Mathematics Courses</h4>
                        <li class="mb-0 text-white-50">Multivariable Calculus</li>
                        <li class="mb-0 text-white-50">Linear Algebra</li>
                        <li class="mb-0 text-white-50">Discrete Mathematics</li>
                        <li class="mb-0 text-white-50">Probability</li>
                        <li class="mb-0 text-white-50">Advanced Linear Algebra</li>
                        <li class="mb-0 text-white-50">Mathematical Experimentation</li>
                        <li class="mb-0 text-white-50">Software for Mathematicians</li>
                        <hr class="d-none d-lg-block mt-2 ml-4">
                        <h4 class="mt-3">Anthropology Courses</h4>
                        <li class="mb-0 text-white-50">Linguistic Anthropology</li>
                        <li class="mb-0 text-white-50">Digital Cultures </li>
                        <li class="mb-0 text-white-50 mb-3">Development of Anthropological Thought</li>
                        <hr class="d-none d-lg-block mt-2 ml-4">
                        <h4 class="mt-3">Economics Courses</h4>
                        <li class="mb-0 text-white-50">Macroeconomics</li>
                        <li class="mb-0 text-white-50">Developmental Economics </li>
                        <li class="mb-0 text-white-50">International and Political Economics</li>
                        <hr class="d-none d-lg-block mt-2 ml-4">
                    </div>
                    <div class="mx-auto text-center d-flex align-items-start flex-column"> <a href="#projects2" class="btn btn-primary js-scroll-trigger mt-2">Research</a>
            </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Project Two Row -->
    <section id="projects2" class="projects-section bg-light">
        <div class="container">
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid"  src="../images/me5.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Insights</h4>
                                <p class="mb-0 text-white-50"> I spend my time researching not only applicable and
                                    theoretical
                                    math, but also how mathematics can be considered a “sub-culture”
                                    for many, if not all, students. This phenomenon often scares
                                    prospective students from research in STEM, as it once scared me.
                                    When I first began to pursue mathematics I feared not only
                                    failure, but that I would not be able to understand and apply
                                    complex theories. However, my cultural anthropology courses taught
                                    me the effects of transitioning into sub-cultures, and I soon
                                    realized that mathematics is a sub-culture itself. Through my
                                    studies, I hope to learn how we can facilitate the transition into
                                    STEM fields without fear and apprehension.</p>
                                <hr class="d-none d-lg-block mb-0 mr-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section class="contact-section bg-black ">
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">Mount Holyoke College</div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="#">herrm22g@mtholyoke.edu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; Grace Herrmann 2019
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/grayscale.min.js"></script>

</body>

</html>